<div class="bgImg">
    <!-- <button (click)="checkSession()">Verificar Sesión</button>
    
    <hr> -->
  <div class="column">
    <div class="p5">
      <div class="centeredText p5">
        <img src="assets/generic_avatar.png" class="profilePic" alt="">
      </div>
      <div class="p5">
        <div class="bigger" *ngIf="loginBool">Iniciar Sesión</div>
        <div class="bigger" *ngIf="!loginBool">Registrarse</div>
        <span>Ingresa con tu cuenta de Facebook o con tu email. </span>
        <span *ngIf="loginBool"> ¿No tienes cuenta aún? </span>
        <span *ngIf="!loginBool"> ¿Ya tienes una cuenta? </span>
        <span class="bold cursor" (click)="loginOrRegister()"> Click aquí</span>  
      </div>
    </div>

    <div *ngIf="loginBool">
      <div class="login p5" >
        <form>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email"  name="email" [(ngModel)]="email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password">
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value=""> Recordarme</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value=""> Recordar mi contraseña</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value=""> Ingresar Automáticamente</label>
          </div>
          <a href="">¿Olvidaste tu contraseña?</a>
        </form>
      </div>
      <div class="marAuto centeredText m10">
        <button (click)="login()" class="borders" >Iniciar Sesión</button>
      </div>
    </div>

    <div *ngIf="!loginBool">
      <div class="register p5" >
        <form>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email"  name="email" [(ngModel)]="email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password">
          </div>
          <div class="form-group">
            <input type="nick" class="form-control" placeholder="Nick" name="nick" [(ngModel)]="nick">
          </div>
          <div class="checkbox">
              <label><input type="checkbox" value=""> Recordarme</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""> Recordar mi contraseña</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value=""> Ingresar Automáticamente</label>
            </div>
            
        </form>
      </div>
      <div class="marAuto centeredText m10">
        <button (click)="register()" class="borders" >Registrarme</button>
      </div>
    </div>

  </div>
</div>