<!-- MENU -->
<div class="menuGradient">
    <nav class="navbar navbar-expand-lg p0">
        <img src="assets/logo_live.png" class="logoImg" alt="">
        <ul class="navbar-nav mr-auto ">
        <li class="nav-item active borderRight">
            <a class="nav-link whiteColor" href="#">MSN Alive! <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item borderRight">
            <a class="nav-link whiteColor" href="#">Configuración</a>
        </li>
        <li class="nav-item borderRight">
            <a class="nav-link whiteColor" href="#">Acerca De</a>
        </li>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>