.bold {
    font-weight: bold;
}
.cursor {
    cursor: pointer;
}
.inlineBlock {
    display: inline-block
}
.ml3 {
    margin-left: 3px;
}
.m5 {
    margin:5px;
}
.ml10 {
    margin-left:10px;
}
.mr15 {
    margin-right:15px;
}
.mt5 {
    margin-top:5px;
}
.navbar {
    padding:3px !important;
}
.p5 {
    padding: 5px;
}
.p10 {
    padding: 10px;
}
.rightAl {
    text-align: right;
}
.title {
    color: rgb(1, 126, 243);  
}
.whiteBorder {
    border:1px solid white;  
}
.whiteColor {
    color:white;
}
.w100 {
    width:100%;
}